<input id='input' type='text' [placeholder]='placeholder' [value]='value' (keypress)='d$keypress($event)'>

<div id='listContainer'>
  <div id='list'>

    <div class='listItem' *ngFor='let matchedContact of matchedContacts' (click)='selectContact(matchedContact)'>

      <img id='image' *ngIf='!!matchedContact.image'>

      <div id='text'>

        <div id='name' *ngIf='!!matchedContact.firstName && !!matchedContact.lastName'>{{ matchedContact.firstName }} {{ matchedContact.lastName }}</div>
        <div id='emailAddress' *ngIf='!!matchedContact.emailAddress'>{{ matchedContact.emailAddress }}</div>

      </div>

    </div>

  </div>
</div>
