:host {
  --height: 32px;
  --background: #E0E0E0;

  display: flex;

  height: var(--height);
  width: auto;
  border-radius: calc(var(--height) / 2);
  background: var(--background);

  > img#image {
    --size: 24px;
    --margin: 4px;

    display: block;
    flex: 0 0 auto;

    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    margin: var(--margin);

    + div#text {
      margin-left: var(--margin-left-with-image) !important;
    }
  }

  > div#text {
    --margin-left-with-image: 4px;
    --margin-left-without-image: 12px;
    --font-size: 14px;
    --color: #{rgba(black, 0.87)};

    display: block;
    align-self: center;
    flex: 0 0 auto;

    margin-left: var(--margin-left-without-image);

    font: 14px unquote('/') 1 Roboto, sans-serif;
    color: var(--color);
  }

  > div#close {
    --size: 18px;
    --vertical-margin: 7px;
    --horizontal-margin: 8px;

    --color: #{rgba(black, 0.38)};
    --hover-color: #{rgba(black, 0.87)};

    display: block;
    flex: 0 0 auto;

    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    margin: var( --vertical-margin) var(--horizontal-margin);

    background: var(--color);
    transition: background 100ms ease;

    cursor: pointer;

    > svg {
      width: 14px;
      height: 14px;
      margin: 2px;

      fill: var(--background);
    }

    &:hover {
      background: var(--hover-color);
    }
  }
}
